<h2>Sign in</h2>

<%= form_for(:session, :url => sessions_path) do |f| %>
  <fieldset>
    <p>
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </p>
  <p>
    <%= f.submit "Sign in" %>
  </p>
  </fieldset>
<% end %>

<p>New user? <%= link_to "Sign up now!", signup_path %></p>
