<h2>Sign up</h2>

<%= form_for(@user) do |f| %>
  <fieldset>
    <% @user.errors.full_messages.each do |msg| %>
        <div class="error"><%= msg %></div>
     <% end %>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p> 
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </p>
    <p> 
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </p>
    <p> 
      <%= f.label :password_confirmation, "Confirmation" %><br />
      <%= f.password_field :password_confirmation %>
    </p>
    <p> 
      <%= f.submit "Sign up" %>
    </p>
  </fieldset>
<% end %>
